name: Deploy to static pages to branch gh-pages
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to GitHub Pages and build
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@main
    - name: Deploy
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: gh-pages
        FOLDER: public
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish generated content to GitHub Pages
        uses: tsunematsu21/actions-publish-gh-pages@v1.0.1
        with:
          dir: ""
          branch: gh-pages
          token: ${{ secrets.ACCESS_TOKEN }}
          repo: oliverscheer/oliverscheer.github.io