name: Deploy to static pages to branch gh-pages
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to GitHub Pages and build
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@main
    - name: Deploy
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: gh-pages
        FOLDER: public
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - uses: actions/checkout@v2
      run: |
        git remote add origin2 git@github.com:oliverscheer/oliverscheer.github.io
        git push origin2 gh-pages
      with:
        repository: oliverscheer/oliverscheer.github.io
        token: ${{ secrets.GITHUB_TOKEN }}
    - run: echo "One last message"
