name: Deploy to static pages to branch gh-pages
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to GitHub Pages and build
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@main

    - name: Deploy
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: gh-pages
        FOLDER: public
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Pushes to repository oliverscheer.github.io
      id: push_directory
      uses: cpina/github-action-push-to-another-repository@cp_instead_of_deleting
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source-directory: 'public'
        target-branch: main
        destination-github-username: 'oliverscheer'
        destination-repository-name: 'oliverscheer.github.io'
        user-email: oliver.scheer@hotmail.de
        commit-message: See ORIGIN_COMMIT