name: Deploy to static pages to branch gh-pages
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to GitHub Pages and build
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@main
    # - name: Deploy
    #   uses: s0/git-publish-subdir-action@develop
    #   env:
    #     REPO: self
    #     BRANCH: gh-pages
    #     FOLDER: public
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish generated content to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@3.6.2
      with:
        FOLDER: public
        BRANCH: gh-pages
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        REPOSITORY_NAME: "oliverscheer/oliverscheer.github.io"